name: Generate Images

on: [push, workflow_dispatch]

jobs:
  pre-commit-push:
    name: Pre-Commit check on Push
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compilers:
          - class: gnu
            version: 14
          - class: gnu
            version: 13
          - class: gnu
            version: 12
          - class: llvm
            version: 20
          - class: llvm
            version: 19
          - class: llvm
            version: 18
          - class: llvm
            version: 17
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: wusatosi
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            UBUNTU_VERSION=24.04
            COMPILER_CLASS=${{ matrix.compilers.class }}
            COMPILER_VERSION=${{ matrix.compilers.version }}
          tags: ghcr.io/wusatosi/${{ matrix.compilers.class }}:${{ matrix.compilers.version }}
          push: true